@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/Ubuntu-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

div.globalCss {
    margin-left: 5%;
    margin-right: 5%;
}

.quill img {
    max-height: 200px;
}

body {
    background-color: #F5F2E3;
}
